# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/hamidsam/veryblib.hamidsamimi.ir"
PassengerBaseURI "/"
PassengerNodejs "/home/hamidsam/nodevenv/veryblib.hamidsamimi.ir/10/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv DATABASE_URL mongodb+srv://abc123:test123@veryblib.83dho.gcp.mongodb.net/<dbname>?retryWrites=true&w=majority
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END